@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dot-size: 2px;
  --dot-space: 22px;
  --c1: rgba(158, 103, 59, 0.279); /* accent.secondary */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --selection-bg: #8b4513;
    --selection-color: #ffffff;
    --c1: rgb(227 197 170 / 0.07); /* hover.dark */
  }
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: radial-gradient(
    rgba(181, 131, 90, 0.088) 2px,
    transparent 2px
  );
  background-size: 11px 11px;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background-image: radial-gradient(
    rgba(227, 197, 170, 0.018) 2px,
    transparent 2px
  );
  background-size: 11px 11px;
  background-position: center center;
}
@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300;
  }
}
